/***********************
     R  E  S  E  T
***********************/
	*{
		margin:0;
		padding:0;
		border:0;
		outline:0;
		vertical-align:baseline;
	}
	iframe{
		overflow : hidden;
	}
	body{
		background-image : url(../img/site/bg.jpg);
		color: #fff;
		font-family : Candara;
	}
	
/***********************
   B  I  G    B  O  X 
***********************/
	div.background{
		position : static;
		width : 100%;
		height : 100%;
		opacity : 0;
	}
	
	div.conctr{
		position : absolute;
		width : 960px;
		height : 550px;
		left : 50%;
		top : 50%;
		margin-left : -480px;
		margin-top : -275px;
	}
	
	div.head{
		width : 100%;
		height : 75px;
		float : left;
	}
	
	div#container {
		width:960px;
		height:425px;
		margin-top : 10px;
		margin-bottom : 5px;
		float : left;
	}

	div#content_frame {
		width : 960px;
		height :440px;
		overflow: hidden;
	}
	
	
/***********************
      H   E   A   D 
***********************/
	div.logo{
		width : 200px;
		height : 100px;
		background-image : url(../img/site/logo_s.png);
		background-position : bottom right;
		background-repeat : no-repeat;
		float :left;
	}
	div.status{
		height : 15px;
		width : 760px;
		float : left;
		margin-top:0px;
	}
		div.status p{
			float : right;
		}
		div.status p a {
			cursor: pointer;
			color : #bca549;
		}
		div.status p.left{
			float:left;
		}
		div.status p.right{
			float:right;
		}
	div.menu{
		height : 50px;
		width : 760px;
		margin-top : 5px;
		float : left;

	}
		div.permenu{
			height : 50px;
			width : 16.66%;
			float : left;
			cursor:pointer;
		}
			div.per3{ width :33.33%;}
			div.per4{ width :25%;}
			div.per5{ width :20%;}
			div.per6{ width :16.66%;}
			div.per7{ width :14.27%;}
			div.menuborder{
				height : 3px;
				width : 100%;
				background : #898989;
				float : left;
			}
			div.menutxt{
				height : 44px;
				width : 100%;
				float : left;
			}
			
			div.permenu:hover div.menutxt{
				background : #bca549;
			}

/***********************
       LOADER
***********************/
img.loader{
	position : absolute;
	width : 450px;
	height : 200px;
	opacity : 0;
	top : 50%;
	left : 50%;
	margin-left : -225px;
	margin-top : -100px;
}

img.trans{
	position : absolute;
	width : 187px;
	height : 76px;
	opacity : 0;
	top : 50%;
	left : 50%;
	margin-left : -93px;
	margin-top : -38px;
}
div.prolog{
	position : absolute;
	width : 500px;
	height : 200px;
	opacity : 0;
	top : 50%;
	left : 50%;
	margin-left : -250px;
	margin-top : -100px;
}

/***********************
       FOOTER
***********************/
#footer_txt {
	width:900px;
	float:left
}
#footer_img {
	float:left;
	margin-top:4px;
	margin-left:10px;
}


/***********************
       FONT-FACE
***********************/

@font-face {
				font-family: 'Papyrus';
				src: url('../font/papyrus.eot');
				src: url('../font/papyrus.eot?#iefix') format('embedded-opentype'),
				url('../font/papyrus.woff') format('woff'),
				url('../font/papyrus.ttf') format('truetype'),
				url('../font/papyrus.svg#papyrus') format('svg');
				font-weight: normal;
				font-style: normal;
		}

@font-face {
    font-family: 'code_lightregular';
    src: url('../font/code_light-webfont.eot');
    src: url('../font/code_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/code_light-webfont.woff') format('woff'),
         url('../font/code_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
				font-family: 'Candara';
				src: url('../font/candara.eot');
				src: url('../font/candara.eot?#iefix') format('embedded-opentype'),
						 url('../font/candara.woff') format('woff'),
						 url('../font/candara.ttf') format('truetype'),
						 url('../font/candara.svg#candara') format('svg');
				font-weight: normal;
				font-style: normal;
		}

/***********************
  L I N K   R E S E T
***********************/
a:link,a:visited,a:hover,a:active {
		text-decoration:none;
	}

h1{
	font-family : code_lightregular;
	font-size: 20px;
	line-height : 10px;
	text-align : center;
	font-weight: normal;
	font-style: normal;
	margin-top : 17px;
	color : #FFF;
}

h1.header {
	font-size: 100px;
	line-height: 55px;
	text-align: left;
}
	
h1.menu { /*for menu text*/
	font-size: 24px;
}

h2 { /*for copyright*/
	font-family : Candara;
	font-size: 12px;
	line-height : 14px;
	text-align : right;
	font-weight: normal;
	font-style: normal;
	margin-top : 5px;
	color : #898989;
}

h3 { /*for category title*/
	font-family : code_lightregular;
	font-size: 28px;
	line-height : 35px;
	text-align : right;
	font-weight: normal;
	font-style: normal;
	margin-top : 4px;
	color : #898989;
}

	h3.small{
		font-size: 20px;
	}

h4 { /*for product name title*/
	font-family : code_lightregular;
	font-size: 30px;
	margin-bottom: 5px;
	line-height : 20px;
	text-align : center;
	font-weight: normal;
	font-style: normal;
	color : #DDDDDD;
	background: #222;
	padding: 10px;
}

h5 { /*for product page title*/
	font-family : Candara;
	font-size: 30px;
	line-height : 20px;
	text-align : left;
	font-weight: normal;
	font-style: normal;
	float : left;
	margin : 10px;
	margin-top : 15px;
	color : #DDDDDD;
}

h6 { /*for table header*/
	font-family : Candara;
	font-size: 13px;
	line-height : 20px;
	text-align : center;
	font-weight: bold;
	font-style: normal;
	color : #bca549;
}

p {
	font-family : Candara;
	font-size: 15px;
	line-height : 17px;
	text-align : justify;
	font-weight: normal;
	font-style: normal;
	color : #DDDDDD;
}
textarea {
	font-family : Candara;
	border : 1px solid #AAAAAA;
	margin : 2px;
	padding : 2px;
	float : left;
	font-size : 12px;
	text-align : left;
	background : white;
	border : 1px solid #AAAAAA;
}
form span {
	display: block;
	color: #ddd;
	font-size: .8em;
}
form {
	text-align: center;
}
form > input, form > div > input {
	padding: 5px;
	margin: 5px;
	width: 200px;
}
/***********************
  L O G I N P O P U P
***********************/
#login_cont {
	position: absolute;
	top : -100%;
	left: 0;
	width : 100%;
	height : 100%;
	background-color: rgba(0,0,0,0.8);
}
#login_box{
	position: absolute;
	width : 400px;
	height: 240px;
	left: 50%;
	top: 50%;
	margin-left: -205px;
	margin-top: -105px;	
	background-color: #bca549;
	background-image: url(../img/site/foliage.png);
	background-position: top left;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 20px black;
	padding: 10px;
}
#login_box h1 {
	font-family : code_lightregular;
	font-size: 40px;
	margin-bottom: 14px;
	line-height : 10px;
	text-align : center;
	font-weight: normal;
	font-style: normal;
	margin-top : 17px;
	color : #000;
}

#login_box a {
	position: absolute;
	top : 0px;
	left : 7px;
	color : black;
	font-size: 20px;
	cursor: pointer;
}
#login_box a:hover {color: #a00}

#login_box label {
	margin: 15px 10px;
	width: 80px;
	display: inline-block;
	text-align: right;
	color : black;
}

#login_box input {
	display: inline-block;
	width: 200px;
}
.btn {
	margin:15px;
	padding: 10px;
	width : 100px;
	cursor: pointer;
	position: relative;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #666;
    -webkit-box-shadow: 0px 9px 0px rgba(50,50,50,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(50,50,50,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(50,50,50,1), 0px 9px 25px rgba(0,0,0,.7);
	/*width: 530px;*/
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

.btn:active {
    -webkit-box-shadow: 0px 3px 0px rgba(50,50,50,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(50,50,50,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(50,50,50,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.btn:disabled {
	background-color: #d2d2d2;
}

.btn.right {
	float:right;
}

.error{
	background: #f99;
	/*border: thin solid #ddd;*/
}

/***********************
     REGISTER PAGE
***********************/
.register_div {
	margin-left : 2%;
	width:47.8%;
	display: inline-table;
	height : 100%;
}

.register_div label {
	margin: 5px 10px;
	width: 100px;
	display: inline-block;
	text-align: right;
	color : white;
}

.register_div label.uncheck {
	margin: 15px 10px;
}

.register_div input {
	display: inline-block;
	width: 250px;
	height: 20px;
	padding : 3px;
}

.register_div span.error {
	margin : 0 20px;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: right;
	font-style: italic;
	height : 30px;
	background: transparent;
}

.register_div .per_form {
	background: rgba(0,0,0,0.4);
	border-bottom: 1px solid #7c6509;
	margin : 5px 0;
}
.register_div span.errorsmall {
	height : 15px;
}




.register_div p.keterangan {
	margin-top: 15px;
}


/***********************
  C A T E G O R I E S
***********************/
div.group_product_cont {
	float : left;
	width : 797px;
	height : 425px;
	overflow: hidden;
}

div.nextarrow.short, div.prevarrow.short {
	height : 340px;
}

div.group_product_cont.hidden {
	position: absolute;
	top:-10000px;
	opacity: 0;
}

div.nextarrow, div.prevarrow {
	margin : 10px 15px;
	width : 48px;
	height : 400px;
	border : 1px solid #AAAAAA;
	background : #bca549;
	background-repeat : no-repeat;
	background-position : center center;
	cursor: pointer;
}

div.nextarrow:hover, div.prevarrow:hover {
	background-color: #7c6509;
	border: 1px solid #430
}

div.nextarrow {float:right;background-image: url(../img/site/arrow-next.png);}
div.prevarrow {float:left;background-image: url(../img/site/arrow-prev.png);}

div.prodcont{
	margin : 10px;
	width : 245px;
	height : 400px;
	border : 1px solid #AAAAAA;
	float : left;
	background-repeat : no-repeat;
	background-position : bottom left;
	overflow: hidden;
}

div.prodcont img.kat_bg {
	z-index: -1;
	display: inline-block;
}

div.prodcont div.data {
	display: inline-block;
	height: 100%;
	width: 100%;
	margin-top: -450px;
}

div.prodcont.first {
	margin-left:5px;
}
div.prodcont.third {
	margin-right:5px;
}

div.nativearea{
	width : 69px;
	height : 77px;
	float : left;
}
	div.nativearea#native1{background-image:url(../img/native_s/1.jpg)}
	div.nativearea#native2{background-image:url(../img/native_s/2.jpg)}
	div.nativearea#native3{background-image:url(../img/native_s/3.jpg)}

div.cat_title{
	width : 170px;
	padding-right : 6px;
	height : 77px;
	float : left;
	background : rgba(255,255,255,0.9);
}

h3.layout_cat {
	margin-top:9px;
}

div.cat_detail{
	width : 170px;
	height : 150px;
	float : left;
	margin-left : 70px;
	margin-top : 50px;
}
	p.layout_detail{
		font-size: 11px;
		line-height : 13px;
		text-align : right;
		color : #6c491c;
	}

div.browse{
	width : 120px;
	height : 30px;
	float:right;
	margin-top : 55px;
	background : #AAAAAA;
	cursor : pointer;
}
	div.browse h1{
		line-height : 0px;
		color : white;	
	}
	
	div.browse:hover h1{
		color : #6c491c;
	}
	div.browse:active h1{
		color : #23609e;
	}
	
	div.browse h1.comingsoon {
		font-size: 14px;
		line-height : 0px;
		color : white;
	}

.loading {
	background: url("../img/loader.gif") no-repeat center center transparent;
	height: 20px;
	width: 100%;
}

/***********************
  ITEM LIST
***********************/
.square {
	width: 17%;
	height: 35%;
	background: purple;
	float: left;
	margin-right: 2%;
}
.square:hover{
	width: 17%;
	height: 35%;
	background: white;
	float: left;
	margin-right: 2%;
}
	#squareContent{ color: black;}


/***********************
  	   LIST BARANG
***********************/
div.vertdiv {
	display: inline-block;
	text-align: left;
	margin: 0px 2px;
}

div.itembox_img {
	margin: 4px 0px;
	width: 150px;
	height: 170px;
	overflow: hidden;
	background-color: white;
	border: 2px solid white;
}

/***********************
  	DETAIL BARANG
***********************/
div.item_price, div.item_detail, div.item_pict {
	display: inline-block;
	text-align: left;
	overflow: hidden;
}
div.item_price {
	height:330px;
	padding: 10px;
	width:200px;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
}
div.item_pict {
	background: white;
	height:340px;
	width:340px;
	border: 5px solid white;
	margin-right:15px;
}

div.item_detail {
	height:330px;
	padding: 10px;
	width:330px;
	margin-right:15px;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
}

div.price, div.item_detail form {
	padding:0 1%;
	width: 47.5%;
	margin-bottom:10px;
	display: inline-block;
	overflow: hidden;
}

div.item_detail form {
	background: rgba(0,0,0,0.5);
	padding-top : 10px;
}

div.quantity, input.cart {
	padding:0 1%;
	width: 40%;
	margin-left : 3%;
	margin-right: 3%;
	margin-bottom:10px;
	display: inline-block;
}

label.qty {
	width: 120px;
	display: inline-block;
}

textarea.req_msg {
	width: 190px;
	height: 120px;
}

input.qty {
	width: 30px;
	background: #ddd;
	text-align: center;
}

input.cart {
	width: 180px;
	height: 70px;
	margin-top:10px;
	padding-top:40px;
	line-height: 0;
	font-family: Candara;
	font-size: 20px;
	background-image: url(../img/site/cart.png);
	background-repeat: no-repeat;
	background-position: top center;
	cursor: pointer;
}
input.cart:hover {
	background-color: #888;
}

/***********************
  	ORDER CHART
***********************/

.payment_div {
	width:80%;
	overflow: auto;
	text-align: center;
	height : 350px;
}

input.button{
	height : 25px;
	width : 120px;
	margin-top : 15px;
	margin-right : 10px;
	float : right;
	background :#CCCCCC;
	border :1px solid #888888;
	cursor : pointer;
	font-size : 12px;
	line-height : 25px;
	text-align : center;
	}

	input.button:hover{
		background :#888888;
		color :white;
	}


#contentV_m div{
	overflow : hidden;
}
div#no{width:30px;}
div#item{width:165px;}
div#price{width:75px;}
div#qty{width:40px;}
div#msg{width: 300px;}

div.list_head{
	border-bottom : 1px solid #555555;
	height : 30px;
	float : left;
}

div.list_body{
	border-bottom : 1px solid #d3852f;
	height : 35px;
	float : left;
}

div.row p{
	font-size: 12px;
	line-height : 12px;
	text-align : left;
	color : #131313;
}

div#no p{margin-top : 10px;text-align:center;}
div#item p{margin-top : 4px;margin-left : 2px;}
div#price p{margin-top : 10px;margin-left : 2px;text-align:center}
div#qty p{margin-top : 10px;text-align:center;margin-left : 0px;}
div#msg p{margin-top : 0px;margin-left : 2px;text-align:center;}

